<!-- The Top Bar -->

<header id="topbar-wrapper" aria-label="Top Bar">
  <div
    id="topbar"
    class="d-flex align-items-center justify-content-between px-lg-3 h-100"
  >
    <nav id="breadcrumb" aria-label="Breadcrumb">
      {% assign paths = page.url | split: '/' %}

      {% if page.platform %}
        <span>
          <a href="{{ '/' | relative_url }}">
            {{- site.data.locales[include.lang].tabs.home | capitalize -}}
          </a>
        </span>
        <span>
          <a href="{{ '/categories/' | relative_url }}">
            {{- site.data.locales[include.lang].tabs.categories | capitalize -}}
          </a>
        </span>
        <span>
          <a href="{{ page.category_url | relative_url }}">{{ page.category_title }}</a>
        </span>
        <span>{{ page.platform }}</span>

      {% elsif paths.size == 0 or page.layout == 'home' %}
        <!-- index page -->
        <span>{{ site.data.locales[include.lang].tabs.home | capitalize }}</span>

      {% else %}
        {% for item in paths %}
          {% if forloop.first %}
            <span>
              <a href="{{ '/' | relative_url }}">
                {{- site.data.locales[include.lang].tabs.home | capitalize -}}
              </a>
            </span>

          {% elsif forloop.last %}
            {% if page.collection == 'tabs' %}
              <span>{{ site.data.locales[include.lang].tabs[item] | default: page.title }}</span>
            {% else %}
              {% if page.tags.size > 0 %}
                <span>
                  <i class="fa fa-tags fa-fw me-1"></i>
                  {% for tag in page.tags %}
                    <a
                      href="{{ site.baseurl }}/tags/{{ tag | slugify | url_encode }}/"
                      class="post-tag no-text-decoration"
                    >
                      {{- tag -}}
                    </a>
                  {% endfor %}
                </span>
              {% endif %}
              {% if page.meta.platform %}
                <span>
                  {% include platform-icon.html platform=page.meta.platform %}
                  <a href="{{ page.meta.platform | slugify | prepend: '/categories/jeux-vidéo/' | append: '/' | relative_url }}">{{ page.meta.platform }}</a>
                </span>
              {% endif %}
              {% if page.meta.series %}
                {% assign series_key = '' %}
                {% assign series_icon = '' %}
                {% for s in site.data.series %}
                  {% if s[1].name == page.meta.series %}
                    {% assign series_key = s[0] %}
                    {% assign series_icon = s[1].icon %}
                  {% endif %}
                {% endfor %}
                {% if series_key != '' %}
                  <span>
                    {{ series_icon }} <a href="{{ series_key | prepend: '/series/' | append: '/' | relative_url }}">{{ page.meta.series }}</a>
                  </span>
                {% endif %}
              {% endif %}
              <span>{% include post-title.html post=page %}</span>
            {% endif %}

          {% elsif page.category %}
            <span><a href="/categories/{{ page.category | slugify | relative_url }}">{{ page.category }}</a></span>
          {% elsif page.layout == 'rating' %}
            <span><a href="/ratings/">Notation</a></span>
          {% elsif page.layout == 'category' or page.layout == 'tag' %}
            <span>
              <a href="{{ item | append: '/' | relative_url }}">
                {{- site.data.locales[include.lang].tabs[item] | default: page.title -}}
              </a>
            </span>
          {% endif %}
        {% endfor %}
      {% endif %}
    </nav>
    <!-- endof #breadcrumb -->

    <button type="button" id="sidebar-trigger" class="btn btn-link">
      <i class="fas fa-bars fa-fw"></i>
    </button>

    <div id="topbar-title">
      {% if page.layout == 'home' %}
        {{- site.data.locales[include.lang].title | default: site.title -}}
      {% elsif page.collection == 'tabs' or page.layout == 'page' %}
        {%- capture tab_key -%}{{ page.url | split: '/' }}{%- endcapture -%}
        {{- site.data.locales[include.lang].tabs[tab_key] | default: page.title -}}
      {% else %}
        {{- site.data.locales[include.lang].layout[page.layout] | default: page.layout | capitalize -}}
      {% endif %}
    </div>

    <button type="button" id="search-trigger" class="btn btn-link">
      <i class="fas fa-search fa-fw"></i>
    </button>

    <search id="search" class="align-items-center ms-3 ms-lg-0">
      <i class="fas fa-search fa-fw"></i>
      <input
        class="form-control"
        id="search-input"
        type="search"
        aria-label="search"
        autocomplete="off"
        placeholder="{{ site.data.locales[include.lang].search.hint | capitalize }}..."
      >
    </search>
    <button type="button" class="btn btn-link text-decoration-none" id="search-cancel">
      {{- site.data.locales[include.lang].search.cancel -}}
    </button>
  </div>
</header>
